<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.avium.overlay.font.lxgwwenkai"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="android"
        android:category="android.theme.customization.font"
        android:priority="1" />

    <application
        android:hasCode="false"
        android:label="霞鹜文楷 (LXGW WenKai)">
        <meta-data
            android:name="android.theme.customization.REQUIRED_SYSTEM_FONTS"
            android:value="lxgw-wenkai,lxgw-wenkai-medium" />
    </application>
</manifest>
