<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.avium.overlay.font.zcoolxiaowei"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="android"
        android:category="android.theme.customization.font"
        android:priority="1" />

    <application
        android:hasCode="false"
        android:label="站酷小薇体 (ZCOOL XiaoWei)">
        <meta-data
            android:name="android.theme.customization.REQUIRED_SYSTEM_FONTS"
            android:value="zcool-xiaowei,zcool-xiaowei-medium" />
    </application>
</manifest>
