<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.avium.overlay.font.xiaolai"
    android:versionCode="1"
    android:versionName="1.0">

    <overlay
        android:targetPackage="android"
        android:category="android.theme.customization.font"
        android:priority="1" />

    <application
        android:hasCode="false"
        android:label="小赖圆体 (Xiaolai Rounded)">
        <meta-data
            android:name="android.theme.customization.REQUIRED_SYSTEM_FONTS"
            android:value="xiaolai-rounded,xiaolai-rounded-medium" />
    </application>
</manifest>
